@use '@/styles/foundations/variables' as var;
@use '@/styles/foundations/mixins' as mixin;
@use '@/styles/foundations/breakpoint' as bp;

:root {
  --color-primary: #01579b;
  --color-primary-dark: #002f6c;
  --color-secondary: #fce4ec;
  --color-text: #212121;
  --color-text-light: #eee;
  --color-background: #fafafa;
  --color-background-form: #fff;
  --color-error: #b00020;
  --color-disabled: #e0e0e0;
  --color-autofill: #e8f0fe;
  --color-placeholder: #9e9e9e;
  --color-tap-highlight: 1, 87, 155;
  --color-tap-highlight-error: 176, 0, 32;
  --color-dark: #000;
  --color-light: #fff;
}

:root[data-color-scheme='dark'] {
  --color-primary: #51a3e2;
  --color-primary-dark: #002f6c;
  --color-secondary: #2a2a2a;
  --color-text: #bdc1c6;
  --color-text-light: #121212;
  --color-background: #202124;
  --color-background-form: #121212;
  --color-error: #cf6679;
  --color-disabled: #e0e0e0;
  --color-autofill: #002f6c;
  --color-placeholder: #9e9e9e;
  --color-tap-highlight: 81, 163, 226;
  --color-tap-highlight-error: 176, 0, 32;
  --color-dark: #fff;
  --color-light: #000;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var.$FONT_FAMILY;
  font-feature-settings: 'palt';
  font-display: swap;
  background-color: var.$COLOR_BACKGROUND;
  -webkit-text-size-adjust: 100%;
  color: var.$COLOR_TEXT;
  font-size: 10px;
  line-height: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: rgba(var.$COLOR_TAP_HIGHLIGHT, 0.3);
}

img {
  vertical-align: top;
  user-select: none;
  -webkit-touch-callout: none;
}

ul,
dl,
ol {
  margin: 0;
}

li,
dt,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font-family: var.$FONT_FAMILY;
  appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  color: var.$COLOR_TEXT;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='submit'],
button {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}
