@use '@/styles/foundations/variables' as var;
@use '@/styles/foundations/mixins' as mixin;
@use '@/styles/foundations/breakpoint' as bp;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: var.$FONT_FAMILY;
  font-feature-settings: 'palt';
  font-display: swap;
  -webkit-text-size-adjust: 100%;
  color: var.$COLOR_TEXT;
  font-size: 10px;
  line-height: 1;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

main {
  padding: 40px 24px;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: var.$COLOR_TAP_HIGHLIGHT;
}

img {
  vertical-align: top;
  user-select: none;
  -webkit-touch-callout: none;
}

input,
button,
textarea,
select {
  font-family: var.$FONT_FAMILY;
  appearance: none;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  vertical-align: top;
  color: var.$COLOR_TEXT;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='submit'],
button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

:focus {
  outline: none;
}
