@use '@/styles/foundations/variables' as var;
@use '@/styles/foundations/mixins' as mixin;
@use '@/styles/foundations/breakpoint' as bp;

.Container {
  width: 100%;
  min-height: 100vh;
  padding: 64px 16px;
  background-color: var.$COLOR_BACKGROUND;
}
