@use '@/styles/foundations/variables' as var;
@use '@/styles/foundations/mixins' as mixin;
@use '@/styles/foundations/breakpoint' as bp;

.ContactComplete {
  max-width: 768px;
  margin: 0 auto;
  &Card {
    width: 100%;
    margin: 40px auto 0;
    @include bp.sp {
      padding: 20px 12px 12px;
    }
  }
  &Content {
    padding: 12px 40px 40px;
    @include mixin.fl(16, 21);
    @include bp.sp {
      padding: 20px 12px 20px;
    }
  }
  &Button {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 0 16px;
  }
}
