@use '@/styles/foundations/variables' as var;
@use '@/styles/foundations/mixins' as mixin;
@use '@/styles/foundations/breakpoint' as bp;

.ContactInput {
  max-width: 960px;
  margin: 0 auto;
  &Card {
    width: 100%;
    margin: 40px auto 0;
  }
  &Field {
    margin: 16px 0 0;
    flex: 1;
  }
  &Column {
    display: flex;
    align-items: flex-start;
    gap: 0 16px;
  }
  &Button {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
}
