@use '@/styles/foundations/variables' as var;
@use '@/styles/foundations/mixins' as mixin;
@use '@/styles/foundations/breakpoint' as bp;

.Card {
  width: 100%;
  border-radius: 4px;
  @include mixin.card(1, black, 80px);
  background-color: var.$COLOR_BACKGROUND;
  color: var.$COLOR_TEXT;
  &Head {
    padding: 64px 40px 12px;
    @include bp.sp {
      padding: 20px 12px 12px;
    }
  }
  &Title {
    margin: 0;
    @include mixin.fls(34, 48, 50);
    font-weight: 700;
    @include bp.sp {
      @include mixin.fls(24, 32, 50);
    }
  }
}
