@use '@/styles/foundations/variables' as var;
@use '@/styles/foundations/mixins' as mixin;
@use '@/styles/foundations/breakpoint' as bp;

.SelectInput {
  position: relative;
  &::before {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 0;
    height: 0;
    padding: 0;
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid var.$COLOR_PRIMARY;
    pointer-events: none;
  }
  &.HasError::before {
    border-top-color: var.$COLOR_ERROR;
  }
  &Select {
    width: 100%;
    padding: 16px 12px;
    color: var.$COLOR_TEXT;
    @include mixin.fl(16, 16);
    border: 1px solid var.$COLOR_PRIMARY;
    border-radius: 4px;
    background-color: var.$COLOR_BACKGROUND;
    &::placeholder {
      color: var.$COLOR_PLACEHOLDER;
    }
    &::-ms-input-placeholder {
      color: var.$COLOR_PLACEHOLDER;
    }
    @include mixin.accessibleFocus;
    .HasError & {
      border-color: var.$COLOR_ERROR;
      @include mixin.accessibleFocus(rgba(var.$COLOR_ERROR, 0.3));
    }
  }
}
